@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lemonada", cursive;
}

/* start in input number in check code page admine */
.checkCode input[type="number"] {
  display: block;
  border: none;
  padding: 0;
  width: 10.5ch;
  background: repeating-linear-gradient(
      90deg,
      dimgrey 0,
      dimgrey 1ch,
      transparent 0,
      transparent 1.8ch
    )
    0 100% / 10ch 2px no-repeat;
  font: 4.5ch droid sans mono, consolas, monospace;
  letter-spacing: 0.8ch;
}
.checkCode input::-webkit-outer-spin-button,
.checkCode input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.checkCode input[type="number"]:focus {
  outline: none;
  color: dodgerblue;
}

/* end in input numbet in check code page admine */

/* start in sidebar */
.hidden {
  height: auto;
}

aside {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.desplegable {
  max-height: 0;
  transition: max-height 0.3s ease-out;
  -webkit-transition: max-height 0.3s ease-out;
  -moz-transition: max-height 0.3s ease-out;
  -ms-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
}

.open {
  max-height: 500px;
  transition: max-height 0.8s ease-out;
  -webkit-transition: max-height 0.8s ease-out;
  -moz-transition: max-height 0.8s ease-out;
  -ms-transition: max-height 0.8s ease-out;
  -o-transition: max-height 0.8s ease-out;
}

@media screen and (max-width: 992px) {
  aside {
    position: fixed;
    /* left: -200%; */
    width: 50vw;
    z-index: 999;
  }
}

@media only screen and (max-width: 600px) {
  aside {
    position: fixed;
    /* left: -200%; */
    width: 70vw;
    z-index: 999;
  }
}
/* end in sidebar */

/* start in main  */
.titleMain {
  text-shadow: 0px 4px 4px #282828;
}
.placeImg {
  --b: 5px;
  --c: #0000 25%, #0074D9 0;
  padding: 10px;
  background: conic-gradient(from 90deg at top var(--b) left var(--b), var(--c))
      0 0,
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--c)) 100% 0,
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--c)) 0 100%,
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--c)) 100%
      100%;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  transition: 0.6s;
  cursor: pointer;
}

.placeImg:hover {
  background-size: 51% 51%;
}

/* end in main  */

/* start in setting  */
main form .inputSetting input {
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.044),
    0 22.3px 17.9px rgba(0, 0, 0, 0.066), 0 100px 80px rgba(0, 0, 0, 0.11);
}
/* end in setting  */

/* start in slider */

/* animation in delete row */
.fade-out {
  animation: fadeOut 0.5s ease-in-out;
  position: relative;
}

@keyframes fadeOut {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

/* end in slider */

/* start in page add product */
.addProduct input,
.addProduct textarea,
.addProduct .boxImg {
  border: 1px solid #000;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.addProduct input:hover,
.addProduct textarea,
.addProduct .boxImg {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
}
.addProduct input:focus,
.addProduct textarea {
  box-shadow: 0 0 5pt 2pt #d3d3d3;
  outline-width: 0px;
}
.addProduct input::-webkit-outer-spin-button,
.addProduct input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* end in page add product  */

/*  */
/* start in table page display product */
.displayProduct table tbody tr td {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.displayProduct table tbody tr:hover td {
  color: white !important;
  background-color: #0074d9;
  cursor: pointer;
}
/*  */
